* {
    font-family: Axiforma;
    color: rgb(80, 80, 80);
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(241, 241, 241);
    background-image: url(./images/bookshelf.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, p {
    margin: 0;
}

#page-header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #FAF9F6;
}

#page-content {
    height: 100%;
    display: flex;
    justify-content: center;
}

#header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
}

#reset-all-button, #add-book-button {
    height: 50px;
    width: 120px;
    font-size: large;
}

.read, .not-read, .remove {
    padding: 6px;
}

#main-container {
    height: 100%;
    width: 55vw;
    display: grid;
    grid-template: 100px / 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 240px;
    align-items: center;
    justify-items: center;
    margin-bottom: 64px;
}

#add-book-button {
    margin-top: 20px;
    grid-row: 1;
    grid-column: span 3;
}

.book-card {
    display: flex;
    flex-direction: column;
    padding: 20px;;
    text-align: center;
    align-items: stretch;
    justify-content: space-between;
    background-color: #FAF9F6;
    box-shadow: rgb(112, 112, 112) 2px 2px 2px;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
    > button {
        font-size: 18px;
    }
}

#page-footer {
    > h3 {
        color: #FAF9F6;
        text-shadow: black 2px 2px 2px;
    };
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: end;
    padding-right: 20px;
    box-sizing: border-box;
}

dialog#add-book-modal {
    height: 360px;
    width: 300px;
    padding: 30px;
    border: none;
    border-radius: 10px;
    > form > p, input[text] {
        display: block;
    }
}

#add-book-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    font-size: 22px;
    > h2 {
        margin: 0;
        font-size: 26px;
    }
    > input {
        font-size: 22px;
        height: 36px;
    }
}

input::-webkit-input-placeholder {
    font-size: 22px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

::backdrop {
    background-color:black;
    opacity: 0.5;
}

#read-check {
    display: flex;
    text-align: center;
    gap: 20px;
    justify-content: center;
}

#form-buttons {
    display: flex;
    justify-content: stretch;
    gap: 10px;
    width: 100%;
    > button {
        flex: 1;
        font-size: 22px;
    }
}

