* {
    font-family: Axiforma;
    color: rgb(80, 80, 80);
}

body {
    margin: 0;
    background-color: rgb(241, 241, 241);
}

h1 {
    margin: 0;
}

#page-header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #FAF9F6;
    box-shadow: #cfcfcf 0px 5px 5px;
}

#page-content {
    height: 100vh;
    display: flex;
    justify-content: center;
}

#header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
}

#reset-all-button, #add-book-button {
    height: 50px;
    width: 120px;
    font-size: large;
}

#main-container {
    width: 55vw;
    display: grid;
    grid-template: 100px 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: 
        ". button-area ."
        "card-1 card-2 card-3"
        "card-4 card-5 card-6"
    ;
    align-items: center;
    justify-items: center;
}

#add-book-button {
    grid-area: button-area;
}